aiohttp==0.21.5
alembic==0.8.4
arxiv==0.0.3
chardet==2.3.0
dataset==0.6.2
decorator==4.0.9
feedparser==5.2.1
ipython==4.1.2
ipython-genutils==0.1.0
Mako==1.0.3
MarkupSafe==0.23
normality==0.2.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pyowm==2.3.1
python-editor==0.5
PyYAML==3.11
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.12
telepot==7.0
traitlets==4.1.0
stomp.py==4.1.9
